@font-face {
}
body{
  font-family:'Helvetica';

}
button{
  background:none;
  border:none;
  font-size:1em;
  color:blue;
}
.dropTarget{
  float:right;
  width:400px;
  margin-top:20px;
  height:250px;
  border:dashed;
  border-color:black;
  opacity:.7;
  border-width:4pt;
  border-radius: 5pt;
  transition: .4s;
  overflow: hidden;
}
@-webkit-keyframes anim {
  0%{
    background-color: rgb( 200,240,220 );
  }
  50%{
    background-color: rgb( 240,240,0 );
  }
  100%{
    background-color: rgb( 200,240,220 );
  }
}
@-webkit-keyframes change {
  0%{
    float:left;
    width:100%;
    color:black;
    margin-left:0px;
    background-color: rgb( 255,255,255 );
  }
  10%{

    border-radius:100%;
  }
  50%{
    margin-left:120%;

    width:30px;
  }
  100%{
    background-color: rgb( 200,240,220 );
    color:rgb( 200,240,220 );
    width:30px;
    border-radius:100%;
    opacity:0;
    margin-left:40%;


  }
}
.drag-target-dragged{
}
.inner-text-drag-target-dragged{
   -webkit-animation: change 1s normal forwards ease-in-out;
}
.container{
  margin-top:80px;
  width:817px;
  height:300px;
  border:4px dashed rgb( 100,100,100 );
  overflow:hidden;
}
.scrollable{
  height:100%;
  width:100%;
  overflow-y: scroll;
  padding: 40px;
  padding-bottom: 0px;
}
.glyphIcon{
  float:left;
  padding:5px;
  border:0px rgb( 200,0,0 ) solid;
  width:50px;
  transition:.2s;

}
.glyphIcon:hover{
  background-color:rgb( 250,200,200 );
  display: inline-block;
  transition:.2s;
  cursor: pointer;
  -webkit-animation: anim 1s infinite ease-in-out;

}

.inner-center-text{
  margin-top: 120px;
  font-weight:900;
  font-size:24pt;
  text-align: center;
  color:rgb( 150,150,150 );
}
.spacer{
  width:100%;
  height:80px;
  margin-top:20px;
  margin-bottom:20px;
  padding:none;
  border-radius: 10px;
}
.controls{
  background-color: blue;
  width:10px;
  height:10px;
  border-radius:100%;
  position: absolute;
}
.controls:hover{
  cursor: pointer;

}

.content{
  margin:0 auto;
  width:826px;
}
.glyphContainer{
  border: 5px dashed rgb( 50,50,50 );
  width: 400px;
  height: 400px;
  float: left;
  margin-top: 20px;
  border-radius: 5px;
  position: relative;
}
.bigDrag{
  width:100px;
  height:100px;
  background-color: red;
  float:left;
}
.rightcont{
  float:right;
  width:350px;
}
.convert{
  width: 400px;
    height: 100px;
    text-align: center;
    float: right;
    border: 4px dashed black;
    margin-top: 10px;
    font-weight: 900;
    font-size: 20pt;
    color: rgb( 200,200,200 );
    padding-top: 30px;
    transition:1s;
}
.download{
  color:green;
}

.convert:hover{
  cursor:pointer;
  background-color: rgb( 255,255,150 );
  transition:1s;

}
.chooseFont{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: .5;
  background-color: black;
  z-index: 1000;
}
.chooseFontShelf{
    position: fixed;
    width: 50%;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 4px 1px 10px rgba(0,0,0,.5);
}
.shelfTitle {
    margin-left: 10%;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 36pt;
    float: left;
    width: 500px;
}
.font{
  float:left;
  margin-left: 15%;
  color:black;
  border: dashed 3px black;
  border-radius: 5pt;
  padding: 25px;
  padding-right: 50%;
  margin-top: 10px;
  font-size: 24pt;
  clear:both;
  height:80px;
  transition: .8s;
}
.font:hover{
  background-color: rgb( 255,255,150 );
  transition: .8s;
  cursor: pointer;
}

.overlay{
  background-color: black;
  opacity: .8;
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  display: none;
}
